.container
{
    max-width: 1200px;
    margin: auto;
}
.container header div#logo
{
    float: left;
}
#arama
{
    text-align: center;
    padding-top: 30px;
}
#tanitim
{
    float: right;
}
header nav
{
    clear: both;
}
#menu
{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
a
{
    color: black;
    text-decoration: none;
}
a:hover
{
    color: red;
}
#egitimler{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}
footer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}